# Core packages
beartype
loguru
awswrangler
boto3
numpy
pandas
openpyxl
pyarrow
scipy
srsly
pyhumps
statsmodels
tqdm

# Plotting
matplotlib
seaborn

# database
psycopg2-binary
sqlalchemy
marshmallow_sqlalchemy

# environment variable
python-decouple

coverage