# Core packages
python-crfsuite
scikit-learn
xgboost
beartype
loguru
awswrangler
boto3
numpy
pandas
openpyxl
pyarrow
scipy
srsly
pyhumps
tqdm
srsly
gpytorch
dataprep

# Plotting
matplotlib
seaborn

# database
psycopg2-binary
sqlalchemy
marshmallow_sqlalchemy

# environment variable
python-decouple

coverage