# Core packages
beartype
loguru
awswrangler
boto3
numpy
pandas
openpyxl
pyarrow

# Plotting
matplotlib

# database
psycopg2-binary
sqlalchemy
marshmallow_sqlalchemy

# environment variable
python-decouple

coverage